{:kotoba.app/id "cloud.itonami.isic-4510", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreihw72sgyngecl5d5hx6dqoh62jlmboagvwzp4criipiczbefpkbxy", :kotoba.app/embed-url "ipfs://bafkreihw72sgyngecl5d5hx6dqoh62jlmboagvwzp4criipiczbefpkbxy", :published {:archive "https://kotobase.net/ipfs/bafkreihw72sgyngecl5d5hx6dqoh62jlmboagvwzp4criipiczbefpkbxy", :size 235688, :put-status 201, :get-status 200, :at "2026-08-15T14:07:03.561Z"}}
