{:kotoba.app/id "cloud.itonami.isic-4510", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreiebp5x5ryauhfouotcv2o3unmtpcugxvj2istyni4adc666rrvfca", :kotoba.app/embed-url "ipfs://bafkreiebp5x5ryauhfouotcv2o3unmtpcugxvj2istyni4adc666rrvfca", :published {:archive "https://kotobase.net/ipfs/bafkreiebp5x5ryauhfouotcv2o3unmtpcugxvj2istyni4adc666rrvfca", :size 217610, :put-status 201, :get-status 200, :at "2026-08-15T13:59:21.190Z"}}
